.columnContainer
  max-height: 10vh
.column
  width: 272px
  background-color: #DFE3E6
  border-radius: 3px 3px 0 0
  margin-right: 12px
  height: auto
  padding: 8px 12px 0 12px
  box-sizing: border-box
  overflow-y: hidden
  @include height1
    max-height: 50vh
  @include height2
    max-height: 56vh
  @include height3
    max-height: 66vh
  @include height4
    max-height: 72vh
  @include height5
    max-height: 76vh
  @include height6
    max-height: 80vh
  @include height7
    max-height: 82vh
  @include height8
    max-height: 84vh
h3
  font-style: normal
  font-weight: bold
  line-height: 19px
  font-size: 13px

.entries
  padding-top: 4px

.entry
  background: #FFFFFF
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25)
  border-radius: 3px
  margin-top: 8px
  padding: 8px 8px 8px 12px
  word-wrap: break-word
