.column
  width: 272px
  background-color: #DFE3E6
  border-radius: 3px 3px 0 0
  margin-right: 12px
  height: auto
  padding: 8px 12px 0 12px
  box-sizing: border-box

h3
  font-style: normal
  font-weight: bold
  line-height: 19px
  font-size: 13px
  margin-bottom: 4px

.entry
  background: #FFFFFF
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25)
  border-radius: 3px
  margin-top: 8px
  padding: 8px 8px 12px 12px

.form
  color: #6B808C
  width: 272px
  min-height: 43px
  border-radius: 0 0 3px 3px
  margin-right: 12px
  padding: 12px
  background-color: #DFE3E6
  cursor: pointer
  box-sizing: border-box

.addButtons
  display: flex
  flex-direction: row
  align-items: center

.controls
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.form textarea
  width: 100%
  box-sizing: border-box

.form.standalone
  border-radius: 3px

.plusButton, .closeButton
  width: 15px
  height: 15px
  display: inline-block

.plusButton
  background-image: url(../img/vector.png)
  margin-right: 8px

.closeButton
  background-image: url(../img/cross.png)
