@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|PT+Mono|PT+Sans");
.column {
  width: 272px;
  background-color: #DFE3E6;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  margin-right: 12px;
  height: auto;
  padding: 8px 12px 0 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  font-size: 13px;
  margin-bottom: 4px; }

.entry {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
          box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-top: 8px;
  padding: 8px 8px 12px 12px; }

.form {
  color: #6B808C;
  width: 272px;
  min-height: 43px;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  margin-right: 12px;
  padding: 12px;
  background-color: #DFE3E6;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.addButtons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form.standalone {
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.plusButton, .closeButton {
  width: 15px;
  height: 15px;
  display: inline-block; }

.plusButton {
  background-image: url(../img/vector.png);
  margin-right: 8px; }

.closeButton {
  background-image: url(../img/cross.png); }

* {
  margin: 0; }

body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 19px; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 21px 20px 20px 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.hidden {
  display: none; }
